h1{
	font-family: 'Anton', sans-serif;
	color: #E7EBF1;
	font-size: 60px;
}

nav {
	border: 10px solid black;
	border-radius: 15px;
}
.classhomepage{
	font-size: 35px;
}


.classcon{
	font-size: 35px;
}

.classpro{
	font-size: 35px;
}

.classaboutme{
	font-size: 35px;
}

.classsurvey{
	font-size: 35px;
}

h4{
	color: #E7EBF1;
}

.classimage1{
	height: 600px;
	width: 80%;
	grid-coloum-start:1;
	grid-coloum-end span:2;
}
.classdisney {
	height: 400px;
	width: 40%;
	margin-left: 450px;

}

.mickymouse{
	height: 300px;
	width: 15%;
}

p{
	color: #E7EBF1;
	font-family: 'Courgette', cursive;
	text-align: left;
	font-size: 48px;
}

body{
	background-color: #2f6ed6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f6ed6;
}

li {
    float: left;
	background-color: #2f6ed6
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #568EEA;
}

.active {
    background-color: #2f6ed6;
}

.classdebate{
	text-align: right;
	font-size: 100px;
}

table, th, td {
    border: 2px solid white;
}

td{
	color: #E7EBF1;
}

tr{
	color: #E7EBF1;
}

h2{
	color: #E7EBF1;	
}

.classthumbsdown{
	height:300px;
	width:15%;
}

.classthumbsup{
	height: 400px;
	width:30%;
}

.classshrug{
	height:400px;
}

.gr1d {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.gr2d {
	grid-row-start: 1;
	grid-coloum-end: span 1;
	text-align: center;
}

.personalexperience{
	color:#E7EBF1;
	font-size: 27px;
}

.employeeadvantages{
	color: #E7EBF1;
	font-size: 27px;
}

.waitingtime{
	color:#E7EBF1;
	font-size: 27px;
}

.calltoaction{
	color: #E7EBF1;
	font-family: 'Bungee', cursive;
}

p.inset {border-style: inset;}

.cross{
	grid-row-start: 2;
	grid-coloum-end: span 1;
}

.check{
	grid-row-start: 1;
	grid-coloum-end: span 1;
}

.mickey{
	height: 500px;
	width: 500px;
}

.sixflags{
	height:300px;
	width:450px;
}

.knotts{
	height: 300px;
	width: 500px;
}